.SearchResults {
  width:45%;
  height: 700px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

  .SearchResults h2{
    font-size: 1.55rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #6f6f6f;
  }

  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }